.my-column-header {
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 15px;
  height: 30px;
  padding-bottom: 15px;
  /* border-radius: 10px; */
  width: 200px;
  border-bottom: 1px solid #ccc; /* Add only a bottom border with a little gray (#ccc) */
}

.bg {
  background-color: darkblue;
}
.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100px 200px;
  width: 100%;
  gap: 50px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  max-width: 1400px;
}
.my-column-row {
  width: 200px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 120px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 120px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.round-even {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a2cf63;
}

.round-odd {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbc42;
}
 
.round-all {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #caf0f8;
}

.new-row {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour {
  width: 200px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 120px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0px;
}

.nothing {
  width: 200px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 1px;
  height: 120px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.none {
  display: none;
}
.all {
  height: 100%;
  width: 100%;
  background-color: #caf0f8;
}

.none {
  height: 100%;
  width: 100%;
  background-color: white;
}
.all:hover {
  background-color: #99c7de;
}
.odd {
  height: 100%;
  width: 100%;
  background-color: #ffbc42;
}
.odd:hover {
  background-color: #cc982e;
}
.even {
  height: 100%;
  width: 100%;
  background-color: #a2cf63;
}
.even:hover {
  background-color: #739045;
}

.my-table {
  width: 100%;
  border-spacing: 20px 20px;
}
.mt {
  margin-top: 50px;
}

.label {
  margin: 5px;
}
